{% extends "layouts/base.html" %}

{% block title %}Why is Docker the Best?{% endblock %}

{% block content %}

<div class="w-full h-screen flex items-center justify-center">
    <div class=" text-center ">
        <h1 class="text-6xl mb-4 font-erica">Why is Docker the Best?</h1>
        <p class="text-lg max-w-xl mx-auto">
            Docker pozwala na łatwe tworzenie, wdrażanie i uruchamianie aplikacji w kontenerach, co zapewnia spójność środowiska i izolację.
        </p>
    </div>
</div>

{% endblock %}
